name: ci

on:
  push:
    branches:
      - main
  schedule:
    - cron: "6 6 * * *"

jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Auto green
        run: |
          git config --local user.email "72240022+liuzhixin2003@users.noreply.github.com"
          git config --local user.name "liuzhixin2003"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase
          git commit --allow-empty -m "a commit a day brings your girlfriend to stay"
          git push
